<section id="finder">
	<div class="row">
		<div class="col-xs-12">
			<h2>Finder</h2>
		</div>
	</div>
	<div class="row row-eq-height">
		<div class="col-xs-8">
			<div class="finder">
				<h3>/src/www/</h3>
				<table id="site-map">
					<thead>
						<tr>
							<th>Name</th>
							<th>Type</th>
							<th>Owner</th>
							<th>Rights</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>

		<div class="col-xs-4">
			<nav class="uActionNav">
				<div class="row text-center">
					<div class="col-xs-12">
						<p id="uActiveObj" data-context="">No file or folder selected</p>
						<div id="uActiveObjInfo">
						</div>
					</div>
				</div>
				<div class="row text-center">
					<button disabled id="showFile" class="btn btn1 btn-info">Show</button>
					<button disabled id="zipFile" class="btn btn2 btn-warning">Zip</button>
                    <button disabled id="downloadFile" class="btn btn3 btn-success">Download</button>
					<button disabled id="deleteFile" class="btn btn4 btn-danger">Delete</button>
				</div>
			</nav>
		</div>
	</div>
</section>
