/* APP */
body {
  background: #111;
  color: #fff;
}

html, body, .full-height {
  height: 100%;
}

.no-padding {
  padding: 0;
}

.main .nav {
  height: 100%;
  color: white;
  padding-left: 10px;
}

.main header .logo {
  margin: 0 auto;
  display: block;
}

/* FINDER */
#finder .finder {
  background: #444;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

#site-map {
  width: 100%;
  padding-left: 15px;
}

#site-map tr {
  border-right: 1px solid #333;
  border-left: 1px solid #333;
  border-bottom: 1px solid #333;
}

#site-map th {
  text-transform: uppercase;
}

#site-map td {
  color: #E2E2E2;
}

#site-map th, #site-map td {
  padding: 10px;
  border-right: 1px solid #333;
}

#site-map tbody tr:hover {
  background: #747;
  cursor: pointer;
}

#site-map tr.active {
  background: green;
}
